.dynamic-panes-ipe-on {
  display: none;
}

/* Hide the IPE toolbar on print output. */
@media print {
  #dynamic-panes-ipe-control-container {
    display: none !important;
  }
  body.dynamic-panes-ipe {
    margin-top: 0 !important;
  }
}

/* Hide the control container when the overlay is open. */
html.overlay-open #dynamic-panes-ipe-control-container {
  display: none !important;
}

/* Controller form markup */
div#dynamic-panes-ipe-control-container {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  background-color: #000;
  padding: .5em 0;
  width: 100%;
  overflow: hidden;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
}
div.dynamic-panes-ipe-pseudobutton-container {
  cursor: pointer;
  background: #666666;
  background-image: linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -o-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -moz-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -webkit-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -ms-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #383838),
    color-stop(1, #666)
  );
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  display: inline-block;
  font: bold 12px/33px "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 33px;
  margin: 0 10px;
}
div.dynamic-panes-ipe-pseudobutton-container a {
  height: 33px;
  padding: 0 .8em;
  display: inline-block;
  color: #ccc;
  text-decoration: none;
}
div.dynamic-panes-ipe-pseudobutton-container:hover {
  background: #999;
  background-image: linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -o-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -moz-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -webkit-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -ms-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #3d3d3d),
    color-stop(1, #999)
  );
  color: #fff;
}
div.dynamic-panes-ipe-pseudobutton-container a:hover {
  color: #fff;
}
div.dynamic-panes-ipe-button-container {
  margin: .3em .5em;
  text-align: center;
}
.dynamic-panes-ipe-editing div.panel-pane div.admin-links {
  display: none !important;
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar  {
  margin: -18px 0 0;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 50%;
}
div.dynamic-panes-ipe-handlebar-wrapper ul.dynamic-panes-ipe-linkbar {
  margin: 0;
  position: static;
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li {
  background: none;
  list-style-type: none;
  list-style-image: none;
  margin: 0 .5em 0 0;
  padding: 0;
  float: left;
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li a,
span.dynamic-panes-ipe-draghandle-icon {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 8px 1px;
  font: bold 12px/18px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  background-image: linear-gradient(bottom, #e9eaec 0, #fafafa 100%);
  background-image: -o-linear-gradient(bottom, #e9eaec 0, #fafafa 100%);
  background-image: -moz-linear-gradient(bottom, #e9eaec 0, #fafafa 100%);
  background-image: -webkit-linear-gradient(bottom, #e9eaec 0, #fafafa 100%);
  background-image: -ms-linear-gradient(bottom, #e9eaec 0, #fafafa 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #e9eaec),
    color-stop(1, #fafafa)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li a span {
  display: block;
  height: 32px;
  width: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -9999em;
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li a.add span {
  background-image: url(../images/icon-add.png);
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li.delete-block a span {
  background-image: url(../images/delete.png);
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li.edit-block a span {
  background-image: url(../images/edit.png);
}
div.dynamic-panes-ipe-toolbar-wrapper ul.dynamic-panes-ipe-linkbar li a:hover {
  background: #e6e6e6;
  background-image: linear-gradient(bottom, #c5c5c5 0, #fafafa 100%);
  background-image: -o-linear-gradient(bottom, #c5c5c5 0, #fafafa 100%);
  background-image: -moz-linear-gradient(bottom, #c5c5c5 0, #fafafa 100%);
  background-image: -webkit-linear-gradient(bottom, #c5c5c5 0, #fafafa 100%);
  background-image: -ms-linear-gradient(bottom, #c5c5c5 0, #fafafa 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #c5c5c5),
    color-stop(1, #fafafa)
  );
}
div.dynamic-panes-ipe-toolbar-wrapper li a:active {
  outline: none;
  background-image: linear-gradient(bottom, #fff 0, #e9eaec 100%);
  background-image: -o-linear-gradient(bottom, #fff 0, #e9eaec 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0, #e9eaec 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0, #e9eaec 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0, #e9eaec 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #fff),
    color-stop(1, #e9eaec)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}
.dynamic-panes-ipe-editing .dynamic-panes-ipe-pane {
  border: transparent dotted 1px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
div.dynamic-panes-ipe-innerwrapper {
  position: relative;
  padding: 8px 7px;
}
div.dynamic-panes-ipe-draghandle {
  background: #e9e9e9;
  background-image: linear-gradient(bottom, #d5d5d5 0, #fcfcfc 100%);
  background-image: -o-linear-gradient(bottom, #d5d5d5 0, #fcfcfc 100%);
  background-image: -moz-linear-gradient(bottom, #d5d5d5 0, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(bottom, #d5d5d5 0, #fcfcfc 100%);
  background-image: -ms-linear-gradient(bottom, #d5d5d5 0, #fcfcfc 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #d5d5d5),
    color-stop(1, #fcfcfc)
  );
  padding: 8px 7px;
}
.dynamic-panes-ipe-show-controls div.dynamic-panes-ipe-toolbar-wrapper-block {
  border-bottom: 1px solid #ccc;
}
.dynamic-panes-ipe-show-controls div.dynamic-panes-ipe-toolbar-wrapper-pane {
  background: #ecfaff;
  border: 2px dashed #999;
  margin-top: 1em;
}
.dynamic-panes-ipe-show-controls div.dynamic-panes-ipe-block {
  margin-top: 1em;
  border: 1px solid #ccc;
  position: relative;
}
.dynamic-panes-ipe-show-controls div.dynamic-panes-ipe-block:hover {
  border: 1px dashed #ccc;
}
.dynamic-panes-ipe-show-controls div.contextual-links-wrapper {
  display: none !important;
}
.dynamic-panes-ipe-innerwrapper-pane span.pane-info {
  color: #999;
  font-size: 12px;
  display: block;
  margin: 10px 0 10px 50px;
}
div.dynamic-panes-ipe-draghandle span.dynamic-panes-ipe-draghandle-icon {
  cursor: move;
  display: block;
  float: right;
  height: 34px;
  padding: 0 !important;
  width: 34px;
}
span.dynamic-panes-ipe-draghandle-icon-inner {
  display: block;
  width: 34px;
  height: 34px;
  background: url(../images/icon-draggable.png) no-repeat 3px 3px;
}
.dynamic-panes-ipe-sort-container .ui-sortable-helper {
  background: white;
}
.dynamic-panes-ipe-sort-container .dynamic-panes-ipe-block.ui-sortable-placeholder {
  border: 2px dashed #999;
  background-color: #ffff99;
  margin: 1em 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-sortable-placeholder {
  margin: 1em;
  border: 1px dotted black;
  visibility: visible !important;
  height: 50px !important;
}
.ui-sortable-placeholder * {
  visibility: hidden;
}
.dynamic-panes-ipe-form-container form {
  text-align: center;
  display: none;
}
div.dynamic-panes-ipe-form-container .form-submit {
  cursor: pointer;
  background: #666;
  background-image: linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -o-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -moz-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -webkit-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -ms-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #383838),
    color-stop(1, #666)
  );
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  display: inline-block;
  font: bold 12px/33px "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 33px;
  margin: 0 10px;
}
div.dynamic-panes-ipe-form-container .form-submit {
  padding: 0 .8em 2px 34px;
}
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-save,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-cancel,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-save:hover,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-cancel:hover,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-save:focus,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-cancel:focus,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-save:active,
div.dynamic-panes-ipe-form-container input.dynamic-panes-ipe-cancel:active {
  background-repeat: no-repeat;
}
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-save {
  background-image: url(../images/icon-save.png);
  background-image: url(../images/icon-save.png), linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-save.png), -o-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-save.png), -moz-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-save.png), -webkit-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-save.png), -ms-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-save.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #383838),
    color-stop(1, #666)
  );
}
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-cancel {
  background-image: url(../images/icon-close.png);
  background-image: url(../images/icon-close.png), linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-close.png), -o-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-close.png), -moz-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-close.png), -webkit-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-close.png), -ms-linear-gradient(bottom, #383838 0, #666 100%);
  background-image: url(../images/icon-close.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #383838),
    color-stop(1, #666)
  );
}
div.dynamic-panes-ipe-form-container .form-submit:hover,
div.dynamic-panes-ipe-form-container .form-submit:focus {
  background: #999;
  background-image: linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -o-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -moz-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -webkit-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -ms-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #3d3d3d),
    color-stop(1, #999)
  );
  color: #fff;
}
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-cancel:hover,
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-cancel:focus {
  background-image: url(../images/icon-close.png), linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-close.png), -o-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-close.png), -moz-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-close.png), -webkit-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-close.png), -ms-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-close.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #3d3d3d),
    color-stop(1, #999)
  );
}
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-save:hover,
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-save:focus {
  background-image: url(../images/icon-save.png), linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-save.png), -o-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-save.png), -moz-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-save.png), -webkit-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-save.png), -ms-linear-gradient(bottom, #3d3d3d 0, #999 100%);
  background-image: url(../images/icon-save.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #3d3d3d),
    color-stop(1, #999)
  );
}
div.dynamic-panes-ipe-form-container .form-submit:active {
  background: #333;
  background-image: linear-gradient(bottom, #616161 0, #333 100%);
  background-image: -o-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: -moz-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: -webkit-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: -ms-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #616161),
    color-stop(1, #333)
  );
  color: #ccc;
}
div.dynamic-panes-ipe-form-container .dynamic-panes-ipe-cancel:active {
  background-image: url(../images/icon-close.png), linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-close.png), -o-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-close.png), -moz-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-close.png), -webkit-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-close.png), -ms-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-close.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #616161),
    color-stop(1, #333)
  );
}
div.dynamic-panes-ipe-form-container-ipe-control .dynamic-panes-ipe-save:active {
  background-image: url(../images/icon-save.png), linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-save.png), -o-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-save.png), -moz-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-save.png), -webkit-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-save.png), -ms-linear-gradient(bottom, #616161 0, #333 100%);
  background-image: url(../images/icon-save.png), -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #616161),
    color-stop(1, #333)
  );
}
div.dynamic-panes-ipe-form-container-ipe-control .dynamic-panes-ipe-save,
div.dynamic-panes-ipe-form-container-ipe-control-ipe-control .dynamic-panes-ipe-cancel,
div.dynamic-panes-ipe-form-container-ipe-control .dynamic-panes-ipe-save:hover,
div.dynamic-panes-ipe-form-container-ipe-control-ipe-control .dynamic-panes-ipe-cancel:hover,
div.dynamic-panes-ipe-form-container-ipe-control .dynamic-panes-ipe-save:active,
div.dynamic-panes-ipe-form-container-ipe-control-ipe-control .dynamic-panes-ipe-cancel:active {
  background-repeat: no-repeat;
}
